# PostHog project key (public client key, from Project settings)
NUXT_PUBLIC_POSTHOG_KEY=
NUXT_PUBLIC_POSTHOG_HOST=https://us.i.posthog.com
# Set to 1 to send events from `npm run dev` too. Off, they print to the console.
NUXT_PUBLIC_POSTHOG_DEV=
